#h-izq {
  background: #eef0f1;
}
@media(max-width: 768px){
  #h-izq{
    display: none !important;
    
  }
}
#h-izq-inf {
  background: #eef0f1;
  position: fixed;
  bottom: 0;
  z-index: 10;
  width: 100%;
  left: -0px;
}
@media(min-width: 768px){
  #h-izq-inf{
    display: none !important;
    
  }
}
#h-heart:hover {
  fill: rgb(224, 26, 26);
}
#h-star:hover {
  fill: rgb(40, 204, 163);
}
#h-mark:hover {
  fill: rgb(23, 115, 252);
}

#h-more {
  fill: rgb(107, 107, 107);
  &:hover{
      fill: black;
  }
}
#h-card-top{
    height: 30px;
    border-radius: 6px 6px 0 0;
    background: #070c34;
}
.h-title{
    color: #64707d;
    font-size: .7em;
    font-weight: 700;
}
.h-list{
    color: #64707d;
    font-size: .9em;
    &:hover{
        color: black;
        cursor: pointer;
    }
}
.h-card-bg{
    background: #f9fafa;
}
.h-card-white:hover{
    background: #fff;
    cursor: pointer;
    color: #323EBE;
}
#h-profile{
  position: absolute;
  top: 57px;
  margin-left: 7px;
  z-index: 10;
}